In [3]:
import mysql.connector
from getpass import getpass
import pandas as pd

# Access to Database
try :
    user=input('User name : ')
    pwd=getpass('Password : ')

    my_db , my_cursor = None , None
    my_db=mysql.connector.connect(host='localhost',user=user,password=pwd,database='mybiggerschool')
    print('Successfully connected to database')
except Exception as e:
    print('something went wrong')
    if my_db is not None:my_db.rollback()
finally:
    print('Database is now open.')

# Database_operation

my_cursor=my_db.cursor()

# Start Main Menu

print('\n---WELCOME TO GIFT SHOP---\n\n \
please select the option below :\n\n \
    1 : Register new customer ID \n \
    2 : Register new pruduct ID \n\n \
    3 : Trading operation \n\n \
    4 : Data analytics \n\n \
    5 : Exit the program.\n')

# function



while True:
    try:
        x=int(float(input('type your command here : ')))

    except ValueError :
        print('The input must be integer, please try again.')
        continue
    except Exception:
        print('Something is wrong, read the option and try again.')
        continue

    if x==1:
        cst_info=input('input customer data follows \'id,name,gender,birthday\' \
        (data should be separated by comma (,)) : ')

        rg_command = "SELECT firstname,timestampdiff(year,birthday,now()) AS Age FROM student"
        break
    if x==2:
        prod_info=input('input product data follows \'id,name\' \
        (data should be separated by comma (,)) : ')
    break


# Query

sql_command = "SELECT * FROM student"

# Execute



# get results

mydata = pd.read_sql(rg_command,my_db)
print('\n-----DATA-----\n')
display(mydata)
print('\n-----END-----\n')

# close
my_db.close()
my_cursor.close();print('Database is closed')

Successfully connected to database
Database is now open.

---WELCOME TO GIFT SHOP---

 please select the option below :

     1 : Register new customer ID
     2 : Register new pruduct ID

     3 : Trading operation

     4 : Data analytics

     5 : Exit the program.


-----DATA-----

/opt/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

  firstname  timestampdiff(year,birthday,now())
0    ดวงดาว                                42.0
1      มานี                                32.0
2      ปิติ                                42.0
3      ชูใจ                                26.0
4      มานะ                                32.0
5      สมยศ                                 NaN

-----END-----

Database is closed

In [2]:
import mysql.connector
from getpass import getpass

user=input('User name : ')
pwd=getpass('Password : ')

my_db , my_cursor = None , None
try:
    my_db=mysql.connector.connect(host='localhost',user=user,password=pwd,database='mybiggerschool')
    print('Successfully connected to database')

    # Database_operation

    my_cursor=my_db.cursor()

    # Query

    sql_command = "SELECT * FROM student"

    # Execute

    mydata = pd.read_sql(sql_command,my_db)

    # get results

    print('\n-----INFO-----\n')
    show0 = display(mydata.info())
    print('\n-----DATA-----\n')
    show1 = display(mydata)
    print('\n-----END-----\n')

except Exception as e :
    print('something went wrong')
    if my_db is not None:my_db.rollback()
finally:
    if my_db is not None:my_db.close()
    if my_cursor is not None:my_cursor.close()
    print('Database Closed.')

Successfully connected to database
something went wrong
Database Closed.